*{
    font-family: Cambria, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1{
    font-size: 30px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}